<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url('+info?.avatar_url+')', 'background-size': 'cover'}"></div>
    <mat-card-title>{{info?.name}}</mat-card-title>
    <mat-card-subtitle>{{info?.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{info?.bio}}</p>
    <p>{{info?.public_repos}} Repositorios</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openGitUrl()">Repositorio <mat-icon color="accent">link</mat-icon></button>
  </mat-card-actions>
</mat-card>

