/*.mat-column-mensaje {
  width: auto;
}*/

.mat-column-commit {
  max-width: 150px;
}

.mat-column-author {
  max-width: 150px;
}

.mat-column-committer {
  max-width: 150px;
}

.mat-links {
  max-width: 150px;
}
